.result-container {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
    font-size: 1.5em;
    margin: 20px 0;
    color: #333;
}

.result-Btn-Container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.result-Btn-Container button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}